@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Mono:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    /* FONTS */

    --font60: 'Roboto Mono', monospace;
    --font30: 'Patrick Hand', cursive;
    --font10: 'Roboto', sans-serif;

    /* COLORS */
    --azul-marinho: #121822;
    --rosa-escuro: #fb0060;
    --amarelo: #f6e148;
    --branco: whitesmoke;
    /* LIGHTS */
    /* --turquesa: #6bbab3;
    --roxo: #5f5ca5;
    --rosa: #d56ea6;
    --laranja: #e8ad62; */

    /* PASTEL */
    --turquesa: #96cbc7;
    --roxo: #8480ba;
    --rosa: #de98bf;
    --laranja: #e6ab82;

    /* ORIGINAIS LOGO */
    /* --turquesa: #87C5C9;
    --roxo: #534B9A;
    --rosa: #C7286D;
    --laranja: #da9933; */

    --height-sub-menu: 30vh;

}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    background-color: var(--branco);
    font-family: var(--font60);
}

.logo{
    height: 100%;
}

#initial-page{
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--azul-marinho);
}

header#header-body,
section#container-footer-initial-page{
    height: 20%;
}

header#header-body{
    display: flex;
    flex-direction: column;
}

article#container-main-initial-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagens/img_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--branco);
    position: relative;
}

article#container-main-initial-page section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

section#container-description-initial-page{
    width: 80%;
    text-align: center;
    font-size: 2rem;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    line-height: 2.5rem;
}

section#container-h1{
    justify-content: center;
    align-items: flex-end;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

span#txt-premium{
    background-color: var(--laranja);
}

section#header-logo{
    height: 70%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--azul-marinho);
}

nav{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background-color: var(--rosa-escuro);
    color: var(--azul-marinho);
    border: 2px solid var(--azul-marinho);
    border-radius: 0 0 3rem 3rem;
    z-index: 2;
}

nav div#submenu-nav{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* height: 80%; */
    background-color: rgba(245, 245, 245, 0.7);
    position: absolute;
    left: 5%;
    padding: 15px;
    animation: abrirPlanoDeFundo 1000ms 100ms forwards;
    font-family: var(--font30);
}

nav div#submenu-nav ul{
    background-color: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    animation: surgir 1500ms 400ms backwards;
}

nav div#submenu-nav ul li{
    text-transform: capitalize;
}

a.link-nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

a.link-nav:link{
    color: var(--azul-marinho);
}
a.link-nav:visited{
    color: var(--azul-marinho);
}
a.link-nav:hover{
    color: var(--rosa-escuro);
    font-weight: bolder;
    /* text-decoration: underline; */
}

#nav-redes{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    animation: surgir 1000ms 200ms backwards;
}

#nav-redes a{
    padding: 0 4px;
}
#nav-redes h2{
    font-size: inherit;
}

nav div#container-nav-menu{
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    gap: 1rem;
    position: relative;
}

#position-nav{
    position: relative;
    width: 100%;
    max-height: var(--height-sub-menu);
}

span#span-icon-chevron{
    position: absolute;
    right: 4rem;
    opacity: 0;
    animation: surgir 1000ms 500ms forwards;
}

section#container-footer-initial-page{
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    left: calc(50% - 20rem);
}

#span-icon-footer-initial-page{
    font-size: 5rem;
    animation: moveDown 2000ms;
    animation-timing-function: ease;
    animation-iteration-count: 3;
}

article#article-main-1{
    background-color: rgba(132, 128, 186, 0.3);
}

/* article#article-main-2{
    background-color:
} */

article#article-main-3{
    background-color: white;
}

article#article-main-4{
    background-color: rgba(230, 171, 130, 0.2);
}

section#container-nossa-historia,
section#container-canais-venda,
section#container-mais-vendidos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}

section#container-nossa-historia h2{
    padding-bottom: 2rem;
}

.container-imagens{
    width: 15rem;
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

img#foto-proprietaria{
    width: 100%;
    border-radius: 50%;
    box-shadow: 5px 8px 26px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 8px 26px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 8px 26px 1px rgba(0,0,0,0.75);
    margin-bottom: 1rem;
}

span#text-proprietaria{
    font-size: 1.2rem;
}

/* section#conteudo-canais-venda{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
} */

#logo-shopee-canais-venda{
    width: 100%;
    margin-bottom: 3rem;
}

section#btn-canais-de-compra{
    text-align: center;
    padding: 3rem 0 0 0;
}

section#btn-canais-de-compra button{
    width: 100%;
}

section#container-mais-vendidos{
    gap: 3rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

#container-mais-vendidos:first-child{
    text-align: center;
}

i.fa-star{
    color: #f6e148;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0;
    min-width: 50%;
    padding: 10px;
    text-align: center;
    min-height: 300px;
    /* height: 30rem; */
  }

aside{
    position: absolute;
    /* width: 40px;
    height: 40px; */
    z-index: 1;
    opacity: 0.9;
}

.icon-aside{
    font-size: 2.5rem;
    cursor: pointer;
}

aside.aside-left{
    left: -10%;
    /* color: gray; */
}

aside.aside-right{
    right: -10%;
    /* color: var(--azul-marinho); */
}

.cards-container{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

section.produto{
    height: 100%;
    font-family: var(--font10);
    color: var(--azul-marinho);
    border: 1px solid rgba(251, 0, 96, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.produto-img{
    height: 50%;
}

.produto-img img{
    max-width: 100%;
    max-height: 100%;
}

.produto-preco{
    height: 10%;
    font-weight: bolder;
    color: var(--rosa-escuro);
}

.produto-titulo,
.produto-botao{
    height: 20%;
    font-weight: 400;
}

.produto-titulo{
    margin-top: 8px;
    font-size: 13px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.produto-botao{
    padding: 8px 2px;
}

.produto span,
.produto button{
    width: 100%;
    height: 100%;
}

section#container-contato{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section#container-links-contact{
    /* border: 2px solid; */
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a.a-contatos{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
}

a.a-contatos:first-child{
    color: #4CAF50;
    text-decoration: underline;
    text-underline-offset: 2px;
}

a#a-email{
    max-width: 100%;
    text-decoration: underline;
    text-underline-offset: 2px;
}

footer{
    /* height: 100vh; */
    max-height: 1000px;
    background-color: var(--azul-marinho);
    padding: 5rem;
    color: var(--branco);
    font-family: var(--font30);
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#footer-conteudo{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

footer a{
    color: var(--branco) !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

footer i{
    color: var(--rosa-escuro);
    width: 3rem;
    text-align: center;
}

footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer li{
    width: 100%;
}

footer #footer-redes{
    display: flex;
    justify-content: center;
}

#footer-redes a{
    font-size: 2rem;
}

#footer-logo{
    height: 5rem;
    width: 100%;
}

#footer-logo a{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#footer-logo a img{
    height: 100%;
}

footer #direitos-autorais{
    text-align: center;
    font-size: 1.5rem;
}

footer #direitos-autorais i{
    color: var(--color60);
}

/* CONFIGURAÇÕES GERAIS */
h1, h2, h3, h4{
    font-family: var(--font30);
}

.section-main-padrao{
    width: 80%;
    margin: 0 auto;
}

main>article{
    width: 100%;
    max-height: 100%;
    padding: 5rem 0;
}

.container-vw-vh{
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.min-height-submenu{

    animation: abriSubMenu 1000ms forwards;
}

.display-invisible{
    display: none;
}

.btn_padrao{
    padding: 1rem 5rem;
    border: 2px solid var(--azul-marinho);
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.5rem;
}

.btn_padrao:hover{
    cursor: pointer;
    background-color: var(--azul-marinho);
    color: var(--branco);
}

.btn_padrao:active{
    background-color: rgba(18, 24, 34, 0.4);
    color: var(--azul-marinho);
}

.btn-produtos{
    padding: 1rem;
    width: 100%;
}

@keyframes abriSubMenu{
    0%{
        min-height: 0;
    }

    100%{
        min-height: 35rem;
    }
}

@keyframes abrirPlanoDeFundo{
    0%{
        min-height: 0;
    }

    100%{
        min-height: 22rem;
    }
}

@keyframes surgir{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes moveDown{
    0%{
        position: relative;
        top: -50px;
        opacity: 0;
    }

    100%{
        top: 0;
        opacity: 0.8;
    }
}

a{
    text-decoration: none;
    color: black;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
}

/* ESTILIZACAO FORM */
.container-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

#header-form {
    padding-bottom: 3rem;
    text-align: center;
}

#header-form h2{
    text-decoration: underline;
    text-decoration-color: var(--rosa-escuro);
}

.form-group{
	position: relative;
	margin-bottom: 30px;
}

.form-inputs{
	display: block;
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	font-weight: normal;
/* 	line-height: 1.5; */
	color: #333;
	background-color: whitesmoke;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #ccc;
	transition: border-color 0.2s ease-in-out;
}

.form-inputs:focus{
    outline: none; /* contorno ao selecionar. Diferente de borda, eles não ocupam o size do campo*/
	border-bottom-color: var(--rosa-escuro);
}

.form-inputs:focus + label{
	color: var(--rosa-escuro);
	font-size: 14px;
	top: -18px;
	left: 0;
}

.form-inputs:valid + label{
	/* color: #ccc; */
	font-size: 14px;
	top: -18px;
	left: 0;
}

label{
	position: absolute;
	top: 10px;
	left: 10px;
	color: #999;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	transition: all 0.2s ease-in-out;
	pointer-events: none;
}

form .form-group textarea{
    height: 120px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.6rem;
    width: 100%;
    height: 4rem;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#div-alert-form{
    padding: 10px 4px;
    color: var(--rosa-escuro);
    text-align: center;
}

.positionFixed{
    position: fixed;
    width: 100%;
}

@keyframes btn_enviar{
    0%{
        background-color: #4CAF50;
    }
    100%{
        background-color: var(--azul-marinho);
    }
}

